button {
    margin-right: 5mm;
    margin-top: 1mm;
}

label {
    margin-bottom: 2mm;
}

:host>>>.ui-card-header {
    text-align: center;
    font-size: 4em;
}

:host>>>.ui-card-content {
    display: flex;
}