<div class="ui-g-11 ui-lg-11 ui-md-10 ui-sm-9  text-right">
    <p-button *ngIf="showWhenApproveForm()" label="ไม่อนุมัติ" styleClass="ui-button-temple" (onClick)=sentData(2)></p-button>
</div>
<div class="ui-g-1 ui-lg-1 ui-md-2 ui-sm-3">
    <p-button label="อนุมัติ" styleClass="ui-button-temple" (onClick)=sentData(1)></p-button>
</div>
<p-messages [value]="msgs"></p-messages>
<div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">

    <p-table [columns]="cols" [value]="member" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th class="table-grid">
                    <p-checkbox value="true" inputId="la" (onChange)="selectAll()" [(ngModel)]="check" binary="true"></p-checkbox>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td *ngFor="let col of columns" class="content-center">
                    <div class="ui-g-12">
                        <p-checkbox *ngIf="showCheckbox()" [value]="rowData[col.field]" [(ngModel)]="rowData.checked" binary="true" (onChange)="onCheck()"></p-checkbox>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<div class="ui-g-11 ui-lg-11 ui-md-10 ui-sm-9 text-right">
    <p-button *ngIf="showWhenApproveForm()" label="ไม่อนุมัติ" styleClass="ui-button-temple " (onClick)=sentData(2)></p-button>
</div>
<div class="ui-g-1 ui-lg-1 ui-md-2 ui-sm-3">
    <p-button label="อนุมัติ" styleClass="ui-button-temple" (onClick)=sentData(1)></p-button>
</div>


<p-toast position="center" key="alertMessage" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <button type="button" pButton [label]=messageback class="ui-button-success" [routerLink]=urlback></button>
            </div>
        </div>
    </ng-template>
</p-toast>