<!-- <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
    <p-breadcrumb [model]="menu" class="breadcrumb"></p-breadcrumb>
</div> -->
<div class="ui-g">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div style="text-align:center">
            <h1>สมาชิก</h1>
        </div>
        <div class="line"></div>
        <br>
        <div class="container">
            <div class="row">
                <div class="ui-g">

                    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">

                        <p-table [paginator]="true" [value]='personal' [rows]="10" [responsive]="true" selectionMode="single" (onRowSelect)="onRowSelect($event)">
                            <ng-template pTemplate="caption">
                                <div style="text-align:left">
                                    <button pButton type="button" label="เพิ่ม" class="ui-button-info" style="width: 20%" [routerLink]="[ '/users/create']"></button>
                                </div>

                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">
                                        สมาชิก
                                        <p-sortIcon field="name" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                        </p-sortIcon>
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr >
                                    <td [pSelectableRow]="rowData">
                                        {{rowData.titleName}} {{rowData.fname}} {{rowData.lname}}
                                    </td>
                                    <td>
                                        <div style="text-align:center">
                                            <button pButton type="button" [routerLink]="[ '/users',rowData.id,'edit']" label="แก้ไข" class="ui-button-warning" style="width: 40%;"></button>
                                            <!-- <button pButton type="button" (click)="deleteUser(rowData.id)" label="ลบ" class="ui-button-danger"
                        style="width: 40%;margin-left: 5mm"></button> -->
                                        </div>

                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>

    </div>