<div class="ui-g">
    <div class="ui-g-12">
        <div class="row">
            <div class="ui-g">
                <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 aa">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-fluid">
                            <div style="text-align: center">
                                <h2>ตู้สัมภาระ</h2>
                            </div>
                            <p-table [columns]="cols" [value]="items" [paginator]="true" [rows]="10" [responsive]="true">
                                <ng-template pTemplate="caption" *ngIf="showEditButton('monk')">
                                    <div style="text-align:left">
                                        <button pButton type="button" (click)="showDialogToAdd()" label="เพิ่ม" class="ui-button-info" style="width: 20%"></button>
                                    </div>

                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                                        </th>
                                        <th *ngIf="showEditButton('monk')" width="25%">Option</th>

                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td *ngFor="let col of columns;">
                                            <span class="ui-column-title">{{col.header}}</span> {{rowData[col.field]}}
                                        </td>
                                        <td *ngIf="showEditButton('monk')" style="text-align:center ">
                                            <div class="ui-g">
                                                <div style="margin: 0 auto ">
                                                    <div class="ui-g">
                                                        <!-- <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12 ">
                                                                <button pButton type="button"
                                                                    (click)="showEdit(rowData)" label="แก้ไข"
                                                                    class="ui-button-warning"></button>
                                                            </div> -->
                                                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ">
                                                            <button pButton type="button" (click)="delete(rowData)" label="ลบ" class="ui-button-danger"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog (onHide)="clear()" header="Baggages Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g ui-fluid" *ngIf="baggage">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">หมายเลขตู้</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="baggageNumber" />
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">สถานที่</label>
            </div>
            <div class="ui-g-8">
                <p-autoComplete [(ngModel)]="location" [suggestions]="filteredLocation" value="id" (completeMethod)="filterLocationMultiple($event)" styleClass="wid100" [minLength]="1" placeholder="เลือกสถานที่" field="name" [dropdown]="true">
                </p-autoComplete>
                <!-- <input pInputText id="name" [(ngModel)]="locationName" /> -->
                <!-- <p-dropdown [options]="location" [(ngModel)]="locationName" editable="true" placeholder="เลือกสถานที่"></p-dropdown> -->
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton (click)="clear()" label="Clear"></button>
            <button *ngIf="newBaggage" type="submit" pButton (click)="save()" label="Save"></button>
            <button *ngIf="!newBaggage" type="button" pButton (click)="update()" label="Update"></button>
        </div>
    </p-footer>
</p-dialog>