<div class="top-bar">
    <div class="banner">
        <a routerLink="/"><img src="./assets/images/logo.png"/></a>
    </div>
    <div class="title">
        <span>ระบบรับสมัครอบรมธรรมมะ วัดป่าโสมพนัส</span>
    </div>
    <div class="top-menu" (click)="logout()" *ngIf="isLoggedIn">
        <span><img class="logout-menu" src="./assets/images/logout.png"> ออกจากระบบ</span>
    </div>
</div>
