.margin-top-bottom {
    margin: 20px
}


.center {
   margin: 0 auto;
 }

:host >>> .temple-button .ui-button {
    background-color: #b8860b !important;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    border: #b8860b !important;
    border-radius: 5px;
    font-size: 1em;
}

.font-show {
    font-size: 1.2em;
}

.text-info {
  font-weight: bold;
  text-align: right;
}

.img-info{
  width: 400px;
}
