.margin-top-bottom {
    margin: 20px
}

.layout-content {
    background-color: #fff;
    border-radius: 1em;
    border: 1px solid #b8860b;
    margin-left: 17px;
    margin-right: 17px;
    display: flex;
}

.layout-footer {
    margin-top: 30px;
    background-color: #cdaa54;
    width: 100%;
    height: 50px;
}

.breadcrumb {
    width: 100%;
}

:host>>>.temple-button .ui-button {
    margin-left: 5px;
    margin-right: 5px;
}

:host>>>.ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #9e7309;
    background-color: #9e7309;
}

.center {
    margin: auto;
}

.text-right {
    text-align: right;
    padding-top: inherit;
}

@media only screen and (max-width: 640px) {
    .text-right {
        text-align: left;
        padding-top: inherit;
    }
}

.text-danger.text-invalid {
    color: red !important;
}

.text-left {
    padding-left: 15px;
    text-align: left;
    font-size: 1em;
}

:host>>>.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #9e7309;
    background-color: #b8860b;
}

.img-info {
    width: 400px;
}

#profile {
    display: none;
}

.btn-upload {
    margin-top: 15px;
}

:host>>>button.ui-datepicker-trigger.ui-calendar-button.ng-tns-c7-1.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ng-star-inserted {
    border: 1px solid#b8860b;
    background: #b8860b;
}

:host>>>button.ui-datepicker-trigger.ui-calendar-button.ng-tns-c7-1.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ng-star-inserted:hover :not(:focus) {
    background-color: #cdaa54;
}