<div class="wrapper-menu">
    <div class="ui-g">
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/profile',userId]" *ngIf="showHomeMenu('user','monk')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/1info.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8 ">
                        <div class="text-center">ข้อมูลส่วนตัว</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/courses']" *ngIf="showHomeMenu('user')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/agenda.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">ลงทะเบียนเรียน</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/schedule']" *ngIf="showHomeMenu('user')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/calendar.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">ตารางเรียน</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/schedule']" *ngIf="showHomeMenu('monk')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/calendar.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">ตารางสอน</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/approval']" *ngIf="showHomeMenu('monk')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/hiring.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">อนุมัติพิเศษ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/manageCourse']" *ngIf="showHomeMenu('admin')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/notebook.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">จัดการคอร์ส</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/manageCourseForMonk']" *ngIf="showHomeMenu('monk')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/notebook.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">จัดการคอร์ส</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/']" *ngIf="showHomeMenu('admin')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/notebook.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">จัดการทะเบียนเรียน</div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/users']" *ngIf="showHomeMenu('admin')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/team.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">จัดการสมาชิก</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/manageTitlename']" *ngIf="showHomeMenu('admin')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/id-card.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">จัดการคำนำหน้า</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/location']" *ngIf="showHomeMenu('admin')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/temple.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">จัดการสถานที่</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/baggages']" *ngIf="showHomeMenu('monk')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/lockers.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">จัดการตู้สัมภาระ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/storage']" *ngIf="showHomeMenu('monk')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/lockers.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">จัดการสัมภาระ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/baggages']" *ngIf="showHomeMenu('user')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/lockers.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">สัมภาระ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12" [routerLink]="['/managepasscourse']" *ngIf="showHomeMenu('monk')">
            <div class="menu-card">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-4 ui-sm-4 ">
                        <img class="img-menu" src="./assets/images/like.png" alt>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-8 ui-sm-8">
                        <div class="text-center">อนุมัติการผ่านหลักสูตร</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>