<div class="ui-g layout-content ">
    <form [formGroup]="formRegister" (submit)="onSubmit($event)">
        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ">
            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-g-7">
                            <div *ngIf="!formError.username" class="text-right">
                                Username
                            </div>  
                            <div *ngIf="formError.username" class="text-danger text-invalid text-right">
                                {{formError.username}}
                            </div>
                        </div>
                        <div class="ui-g-2">
                            <div>
                                <input type="text" pInputText placeholder="Username" formControlName="username">
                            </div>
                        </div>
                        <div class="ui-g-1">
                            <div *ngIf="!formError.password" class="text-right">
                                Password
                            </div>
                            <div *ngIf="formError.password" class="text-danger text-invalid text-right">
                                {{formError.password}}
                            </div>
                        </div>
                        <div class="ui-g-2">
                            <div>
                                <input type="password" pPassword placeholder="Password" formControlName="password">
                            </div>
                        </div>
                        <div class="ui-g-10">
                            <div *ngIf="!formError.repassword" class="text-right">
                                Re-password
                            </div>
                            <div *ngIf="formError.repassword" class="text-danger text-invalid text-right">
                                {{formError.repassword}}
                            </div>
                        </div>
                        <div class="ui-g-2">
                            <div>
                                <input type="password" pPassword placeholder="Re-password" formControlName="repassword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <div class="ui-g">
                    <fieldset>
                        <legend class="font-show">ข้อมูลส่วนตัว</legend>
                        <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12 ">
                            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                                <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                    <div class="text-right">รูปประจำตัว</div>
                                </div>
                                <div class="ui-g-9 ui-lg-9 ui-md-8 ui-sm-12">
                                    <div>
                                            <img 
                                            [src]="image" style="width:250px;height:250px"
                                            class="image-thumbnail image" align="center">
                                            <div class="ui-g-12 ">
                                                    <input 
                                                         #uploader type="file"accept="image/npg"
                                                         class="invisible" (change)="uploadImage($event)" formControlName = "image">
                                                    
                                            </div>
                                            
                                    </div>
                                </div>
                            </div>

                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.titlename" class="text-right">
                                    คำนำหน้า
                                </div>
                                <div *ngIf="formError.titleName" class="text-danger text-invalid text-right">
                                    {{formError.titlename}}
                                </div>
                            </div>
                            <div class="ui-g-9 ui-lg-9 ui-md-8 ui-sm-12">
                                <div>
                                    <p-dropdown [options]="titleName" optionLabel="display" value="id"
                                        [autoWidth]="false" formControlName="titleName" placeholder="กรุณาเลือกคำนำหน้า"
                                        [style]="{'width':'100%'}"></p-dropdown>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.fname" class="text-right">
                                    ชื่อ
                                </div>
                                <div *ngIf="formError.fname" class="text-danger text-invalid text-right">
                                    {{formError.fname}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <input type="text" pInputText placeholder="ชื่อ" formControlName="fname">
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.lname" class="text-right">
                                    นามสกุล
                                </div>
                                <div *ngIf="formError.lname" class="text-danger text-invalid text-right">
                                    {{formError.lname}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <input type="text" pInputText placeholder="นามสกุล" formControlName="lname">
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.memberJob" class="text-right">
                                    อาชีพ
                                </div>
                                <div *ngIf="formError.memberJob" class="text-danger text-invalid text-right">
                                    {{formError.memberJob}}
                                </div>
                            </div>
                            <div class="ui-g-9 ui-lg-9 ui-md-8 ui-sm-12">
                                <div>
                                    <input type="text" pInputText placeholder="อาชีพ" formControlName="memberJob">
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.memberTransportation" class="text-right">
                                    การเดินทางมาที่วัด
                                </div>
                                <div *ngIf="formError.memberTransportation" class="text-danger text-invalid text-right">
                                    {{formError.memberTransportation}}
                                </div>
                            </div>
                            <div class="ui-g-9 ui-lg-9 ui-md-8 ui-sm-12">
                                <div>
                                    <p-dropdown [options]="transportation" [(ngModel)]="selectedTransportation"
                                        formControlName="memberTransportation" editable="true"
                                        placeholder="Select a transportation"></p-dropdown>
                                    <p>Selected Transportation:
                                        {{selectedTransportation ? selectedTransportation : 'none'}}</p>

                                </div>
                            </div>
                            <!-- <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.other" class="text-right">
                                    อื่นๆ
                                </div>
                                <div *ngIf="formError.other" class="text-danger text-invalid text-right">
                                    {{formError.other}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <input type="text" pInputText placeholder="การเดินทางมาที่วัด"
                                        formControlName="other">

                                </div>
                            </div> -->

                            <!-- <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.birthday" class="text-right">
                                    อาชีพ
                                </div>
                                <div *ngIf="formError.memberJob" class="text-danger text-invalid text-right">
                                    {{formError.memberJob}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <input type="text" pInputText placeholder="อาชีพ" formControlName="memberJob">
                                </div>
                            </div> -->
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.gender" class="text-right">
                                    เพศ
                                </div>
                                <div *ngIf="formError.gender" class="text-danger text-invalid text-right">
                                    {{formError.gender}}
                                </div>
                            </div>
                            <div class="ui-g-9 ui-lg-9 ui-md-8 ui-sm-12">
                                <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12 ">
                                    <p-radioButton name="gender" class="checkmark" value='1' label="ชาย"
                                        formControlName="gender">
                                    </p-radioButton>
                                </div>
                                <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
                                    <p-radioButton name="gender" class="checkmark" value='2' label="หญิง"
                                        formControlName="gender">
                                    </p-radioButton>
                                </div>
                                <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
                                    <p-radioButton name="gender" class="checkmark" value='3' label="ไม่ระบุ"
                                        formControlName="gender">
                                    </p-radioButton>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.address" class="text-right">
                                    ที่อยู่
                                </div>
                                <div *ngIf="formError.address" class="text-danger text-invalid text-right">
                                    {{formError.address}}
                                </div>
                            </div>
                            <div class="ui-g-9 ui-lg-9 ui-md-8 ui-sm-12">
                                <div>
                                    <textarea [rows]="5" [cols]="30" class="fixtextarea" pInputTextarea
                                        formControlName="address"></textarea>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.phone" class="text-right">
                                    เบอร์โทร
                                </div>
                                <div *ngIf="formError.phone" class="text-danger text-invalid text-right">
                                    {{formError.phone}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <p-inputMask mask="999-999-9999" placeholder="099-999-9999" formControlName="phone">
                                    </p-inputMask>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.phoneEmergency" class="text-right">
                                    เบอร์ติดต่อฉุกเฉิน
                                </div>
                                <div *ngIf="formError.phoneEmergency" class="text-danger text-invalid text-right">
                                    {{formError.phoneEmergency}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <p-inputMask mask="999-999-9999" placeholder="099-999-9999"
                                        formControlName="phoneEmergency">
                                    </p-inputMask>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.email" class="text-right">
                                    E-mail
                                </div>
                                <div *ngIf="formError.email" class="text-danger text-invalid text-right">
                                    {{formError.email}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <input type="email" pInputText placeholder="example@example.com"
                                        formControlName="email">
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.memberCoursePassed" class="text-right" style="font-size: 14px">
                                    จำนวนคอร์สที่เคยปฎิบัติธรรมที่วัดโสมพนัส
                                </div>
                                <div *ngIf="formError.memberCoursePassed" class="text-danger text-invalid-2 text-right">
                                    {{formError.memberCoursePassed}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <input type="text" pInputText placeholder="จำนวนคอร์สที่เคยปฎิบัติธรรมที่วัดโสมพนัส"
                                        formControlName="memberCoursePassed">
                                </div>
                            </div>

                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.membermemberExpPassed" class="text-right"
                                    style="font-size: 14px">
                                    กรุณาเล่าประสบการณ์ปฎิบัติธรรมที่ผ่านมา
                                </div>
                                <div *ngIf="formError.memberExpPassed" class="text-danger text-invalid-2 text-right">
                                    {{formError.memberExpPassed}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <textarea pInputTextarea autoResize="autoResize"
                                        formControlName="memberExpPassed"></textarea>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.memberExpected" class="text-right">
                                    ความคาดหวังในครั้งนี้
                                </div>
                                <div *ngIf="formError.memberExpected" class="text-danger text-invalid text-right">
                                    {{formError.memberExpected}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <textarea pInputTextarea autoResize="autoResize"
                                        formControlName="memberExpected"></textarea>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                <div *ngIf="!formError.memberNote" class="text-right">
                                    หมายเหตุอื่นๆโรคประจำตัว
                                </div>
                                <div *ngIf="formError.memberNote" class="text-danger text-invalid text-right">
                                    {{formError.memberNote}}
                                </div>
                            </div>
                            <div class="ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                                <div>
                                    <textarea pInputTextarea autoResize="autoResize"
                                        formControlName="memberNote"></textarea>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 row">
                    <div class="center temple-button font-show">
                        <p-button type="submit" label="ยืนยัน" autofocus></p-button>
                        <p-button type="button" label="ยกเลิก" (onClick)="showCancel()"></p-button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<p-toast position="center" key="systemMessage" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <h3>{{message.summary}}</h3>
            <pre class="text-left">{{message.detail}}</pre>
        </div>
    </ng-template>
</p-toast>


<p-confirmDialog></p-confirmDialog>
<p-toast position="center" key="alertMessage" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <button type="button" pButton [label]=messageback class="ui-button-success"
                    [routerLink]=urlback></button>
            </div>
        </div>
    </ng-template>
</p-toast>