<div class="ui-g">
    <div class="ui-g-12">
        <div class="row">
            <div class="ui-g">
                <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 aa">
                    <div class="ui-g">

                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-fluid">
                            <div style="text-align: center">
                                <h2>สัมภาระ</h2>
                            </div>
                            <p-messages [value]="msgs"></p-messages>

                            <p-table [columns]="cols" [value]="items" [paginator]="true" [rows]="10" [responsive]="true">
                                <ng-template pTemplate="caption" *ngIf="showEditButton('monk')">
                                    <div style="text-align:left">
                                        <button pButton type="button" (click)="showDialogToAdd()" label="เพิ่ม" class="ui-button-info" style="width: 20%"></button>
                                    </div>

                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                                        </th>
                                        <th *ngIf="showEditButton('monk')" width='15%'>Option</th>

                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <!-- {{rowData | json}} -->
                                        <td *ngFor="let col of columns;">
                                            {{(rowData[col.field] == rowData['status'] ) ? (rowData['status'] == '0') ? 'ฝาก':'รับคืนแล้ว' :rowData[col.field] }}
                                        </td>
                                        <!-- {{rowData | json}}
                                        <td>
                                            {{rowData['createDate'] | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            {{rowData['memberName']}}
                                        </td>
                                        <td>
                                            {{rowData['number']}}
                                        </td>
                                        <td>
                                            {{(rowData['status'] == '0') ? 'ฝาก':'รับคืนแล้ว'}}
                                        </td> -->
                                        <td *ngIf="showEditButton('monk')" > 
                                            <div class="ui-g">
                                                <div style="margin: 0 auto;">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ">
                                                            <button pButton type="button" (click)="showEdit(rowData['baggageId'])" label="แก้ไข" class="ui-button-warning"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog (onHide)="clear()" header="Baggages Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="baggage">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label>สมาชิก</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="members" optionLabel="memberName" value="memberId" placeholder="กรุณาเลือกสมาชิก" [(ngModel)]="selectedMember"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <label>หมายเลขตู้</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="numberOfLocker" optionLabel="number" value="baggageId" placeholder="กรุณาเลือกหมายเลขตู้" [(ngModel)]="selectedNumber"></p-dropdown>
            </div>
            <div class="ui-g-4" *ngIf="!newBaggage">
                <label>สถานะ</label>
            </div>
            <div class="ui-g-8" *ngIf="!newBaggage">
                <p-dropdown [options]="status" optionLabel="label" value="val" placeholder="กรุณาเลือกสถานะ" [(ngModel)]="selectedStatus"></p-dropdown>

            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton (click)="clear()" label="Cancel"></button>
            <button *ngIf="newBaggage" type="button" pButton (click)="save()" label="Save"></button>
            <button *ngIf="!newBaggage" type="button" pButton (click)="update(baggage.baggageId)" label="Update"></button>
        </div>
    </p-footer>
</p-dialog>